<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSetExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSetExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <appSettings>
    <add key="MongoDbServer" value="desktop-bau7fe6" />
    <add key="MongoDbPort" value="27017" />
    <add key="MongoDbName" value="MandelbrotProjects" />
  </appSettings>


  <userSettings>
        <MSetExplorer.Properties.Settings>
              <setting name="LastWindowName" serializeAs="String">
                    <value>Explorer</value>
              </setting>
              <setting name="DefaultOutputFolderPath" serializeAs="String">
                    <value>C:\_MandelbrotSetImages</value>
              </setting>
              <setting name="LastProjectName" serializeAs="String">
                    <value>l3</value>
              </setting>
              <setting name="LastPosterName" serializeAs="String">
                    <value>l3-Mark45</value>
              </setting>
              <setting name="ShowTopNav" serializeAs="String">
                    <value>False</value>
              </setting>
        </MSetExplorer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MSetExplorer.Properties.Settings>
            <setting name="MongoDbServerx" serializeAs="String">
                <value />
            </setting>
            <setting name="MongoDbPortx" serializeAs="String">
                <value>27017</value>
            </setting>
            <setting name="MongoDbNamex" serializeAs="String">
                <value>MandelbrotProjects</value>
            </setting>
        </MSetExplorer.Properties.Settings>
    </applicationSettings>
</configuration>